<!DOCTYPE html>
<html>
<head>
    <title>UNIT 3 IMP QUESTIONS</title>
</head>
<body style="background-color:grey;">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">imp-Questions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unit3' %}">Unit 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unit4' %}">Unit 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'unit5' %}">Unit 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unit6' %}">Unit 6</a>
                </li>
            </ul>
        </div>
    </nav>
<h1>Unit 3</h1>
<p>Ques:1 Explain why Java is Secured, Robust, Portable, and Dynamic? Which of the concepts in Java ensures these?</p>
<br>
<p>Ques:2 Explain Java Virtual Machine(JVM) Architecture in details. Explain each component briefly.</p>
<br>
<p>Ques:3 What are the primitive data types? List the primitive data types in Java and their respective storage capacity.</p>
<br>
<p>Ques:4 What are Strings in Java? Explain following operations of class Strings in Java with example.
    1. To find length of the string
    2. To compare two strings
    3. Extraction of a character from string.</p>
<br>
<p>Ques:5 What is a Constructor ?</p>
<br>
<p>Ques:6 wnat are its different types of constructor ? Demonstrate with suitable oxanple the different types of constructors used
    in Java.</p>
<br>
<p>Ques:7 What do you mean by method oveloading ? Wrte a program which adds two integers and three integers by using
    overloaded methods for adding two and three integers respectively</p>
<br>
<p>Ques:8 Give example of static declaration. What are restrictions on methods which are declared static?</p>
<br>
<p>Ques:9 State the use of final keyword in Java.</p>
<br>



<button style="background-color:#000000;border-color:#006400">
    <a href="{% url 'home' %}"> Home </a>
</body>
</html>